{# {% for tier in ["system", "subsystem", "component", "subcomponent"] %}
create or replace view {{ tier }}_runtime as
    select
        id,
        parent_id,
        start_time,
        end_time,
        error_type,
        error_content
    from ptolemy.runtime
    where tier = '{{ tier }}';

create or replace view {{ tier }}_input as
    select
        id,
        parent_id,
        field_name,
        case
            when field_value_type = 'str' then union_value(str_val := field_value_str)::variant
            when field_value_type = 'int' then union_value(int_val := field_value_int)::variant
            when field_value_type = 'float' then union_value(float_val := field_value_float::decimal)::variant
            when field_value_type = 'bool' then union_value(bool_val := field_value_bool)::variant
            when field_value_type = 'json' then union_value(json_val := field_value_json)::variant
        end as field_value,
        field_value_type
    from ptolemy.io
{% endfor %} #}