<?xml version="1.0"?>
<clickhouse>
    <!-- Import default configuration -->
    <!-- <include_from>/etc/clickhouse-server/config.xml</include_from> -->

    <!-- Network/Access Settings -->
    <listen_host>::</listen_host>
    <listen_host>0.0.0.0</listen_host>
    <listen_try>1</listen_try>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <interserver_http_port>9009</interserver_http_port>

    <!-- Cache settings -->
    <mark_cache_size>512000000</mark_cache_size>
</clickhouse>
