# For my own vanity...
*.sql linguist-language=SQL
*.sql.j2 linguist-langauge=SQL

*.gql linguist-detectable
*.sql linguist-detectable
*.sql.j2 linguist-detectable

.venv/ -linguist-detectable
target/ -linguist-detectable
