{%- set tiers = ["system", "subsystem", "component", "subcomponent"] -%}
{%- set parents = [
    "workspace",
    "system_event",
    "subsystem_event",
    "component_event",
    "subcomponent_event"
    ] -%}

create type field_value_type as enum ('str', 'int', 'float', 'bool', 'json');
{% for tier in tiers %}
create table {{ tier }}_event (
    id uuid primary key,
    parent_id uuid not null references {{ parents[loop.index0] }}(id) on delete cascade,
    name varchar not null,
    parameters json,
    version varchar(16),
    environment varchar(8)
);

create table {{ tier }}_runtime (
    id uuid primary key,
    parent_id uuid not null references {{ tier }}_event(id) on delete cascade,
    start_time timestamp(6) not null,
    end_time timestamp(6) not null,
    error_type varchar,
    error_value varchar
);

create table {{ tier }}_io (
    id uuid primary key,
    parent_id uuid not null references {{ tier }}_event(id) on delete cascade,
    field_name varchar,
    field_value_str varchar,
    field_value_int int8,
    field_value_float float8,
    field_value_bool bool,
    field_value_json json,
    field_value_type field_value_type
);

create table {{ tier }}_metadata (
    id uuid primary key,
    parent_id uuid not null references {{ tier }}_event(id) on delete cascade,
    field_name varchar not null,
    field_value varchar not null
);
{% endfor %}
